@import "common/font-size.styl"
@import "common/fonts.styl"
@import "common/color.styl"
@import "common/utils.styl"
@import "common/common.styl"
@import "./index-loading.styl"


// inject:all
@import "../../client/react/common/app-password-input/app-password-input.styl";
@import "../../client/react/common/badge/badge.styl";
@import "../../client/react/common/base-input/base-input.styl";
@import "../../client/react/common/custom-select/custom-select.styl";
@import "../../client/react/common/data-table/api-data-table/api-data-table.styl";
@import "../../client/react/common/data-table/data-table.styl";
@import "../../client/react/common/data-table/pagination/pagination.styl";
@import "../../client/react/common/form-tabs/form-tabs.styl";
@import "../../client/react/common/icon-input/icon-input.styl";
@import "../../client/react/common/loading-inline/loading-inline.styl";
@import "../../client/react/common/loading-overlay/loading-overlay.styl";
@import "../../client/react/common/logo/logo.styl";
@import "../../client/react/common/mini-list/mini-list.styl";
@import "../../client/react/common/modal/modal.styl";
@import "../../client/react/common/modal/room-info-modal/room-info-modal.styl";
@import "../../client/react/common/multiple-steps-tabs/multiple-steps-tabs.styl";
@import "../../client/react/common/select/select.styl";
@import "../../client/react/common/switch/switch-btn.styl";
@import "../../client/react/common/upload-input/upload-input.styl";
@import "../../client/react/common/user-view-col/user-view-col.styl";
@import "../../client/react/layout/authen-layout/authen-layout.styl";
@import "../../client/react/layout/authen-layout/menu-bar/menu-bar.styl";
@import "../../client/react/layout/authen-layout/menu-bar/navigations/navigations.styl";
@import "../../client/react/layout/authen-layout/nav-bar/nav-bar.styl";
@import "../../client/react/layout/authen-layout/nav-bar/user-profile/user-profile.styl";
@import "../../client/react/layout/registration/registration.styl";
@import "../../client/react/layout/route-title/route-title.styl";
@import "../../client/react/routes/authen-routes/account/edit/account-info-form/account-info-form.styl";
@import "../../client/react/routes/authen-routes/account/edit/account-route.styl";
@import "../../client/react/routes/authen-routes/account/list/account-list-route.styl";
@import "../../client/react/routes/authen-routes/account/new/account-new-route.styl";
@import "../../client/react/routes/authen-routes/admin-dashboard/admin-dashboard.styl";
@import "../../client/react/routes/authen-routes/candidate/candidate-info-form/candidate-info-form.styl";
@import "../../client/react/routes/authen-routes/candidate/edit/candidate-route.styl";
@import "../../client/react/routes/authen-routes/candidate/list/candidate-list-route.styl";
@import "../../client/react/routes/authen-routes/change-password/chnage-password.styl";
@import "../../client/react/routes/authen-routes/org-location/form/initial-room-info/initial-room-info-form.styl";
@import "../../client/react/routes/authen-routes/org-location/form/org-location-info/org-location-info-form.styl";
@import "../../client/react/routes/authen-routes/org-location/list/org-location-list-route.styl";
@import "../../client/react/routes/authen-routes/org-location/new/org-location-new-route.styl";
@import "../../client/react/routes/authen-routes/prize/edit/prize-route.styl";
@import "../../client/react/routes/authen-routes/prize/list/prize-list-route.styl";
@import "../../client/react/routes/authen-routes/prize/new/prize-new-route.styl";
@import "../../client/react/routes/authen-routes/prize/prize-info-form/prize-info-form.styl";
@import "../../client/react/routes/authen-routes/school-presenter/edit/sp-route.styl";
@import "../../client/react/routes/authen-routes/school-presenter/list/sp-list-route.styl";
@import "../../client/react/routes/authen-routes/school-presenter/school-presenter-info-form/school-presenter-info-form.styl";
@import "../../client/react/routes/authen-routes/school/edit/candidate-list-tab/candidate-list-tab.styl";
@import "../../client/react/routes/authen-routes/school/edit/school-route.styl";
@import "../../client/react/routes/authen-routes/school/list/school-list-route.styl";
@import "../../client/react/routes/authen-routes/school/new/school-new-route.styl";
@import "../../client/react/routes/authen-routes/school/school-info-form/school-info-form.styl";
@import "../../client/react/routes/authen-routes/supervisor/edit/supervisor-route.styl";
@import "../../client/react/routes/authen-routes/supervisor/list/supervisor-list-route.styl";
@import "../../client/react/routes/authen-routes/supervisor/new/supervisor-new-route.styl";
@import "../../client/react/routes/authen-routes/supervisor/supervisor-info-form/supervisor-info-form.styl";
@import "../../client/react/routes/authen-routes/user/edit/user-route.styl";
@import "../../client/react/routes/authen-routes/user/list/user-list-route.styl";
@import "../../client/react/routes/authen-routes/user/user-info-form/user-info-form.styl";
@import "../../client/react/routes/guest-routes/forgot-password/forgot-password.styl";
@import "../../client/react/routes/guest-routes/login/login.styl";
@import "../../client/react/routes/not-found/not-found.styl";
// endinject

