@import "common/font-size.styl"
@import "common/fonts.styl"
@import "common/color.styl"
@import "common/utils.styl"
@import "common/common.styl"
@import "./index-loading.styl"

*{
  color red
}
// inject:all


@import "../../client/react/common/modal/modal.styl";


@import "../../client/react/layout/authen-layout/authen-layout.styl";


@import "../../client/react/routes/guest-routes/login/login.styl";


@import "../../client/react/routes/not-found/not-found.styl";


// endinject

