.school-info-form{
  padding-top 30px
  .form-control{
    height auto !important
  }
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }


  .s-input{
    padding 0 20px !important
    input
    select
    {
      font-size 14px !important
      margin-bottom 5px
      width 250px
    }
    label{
      font-size 15px
      color
    }
  }
}