.change-password-route{
  .m-alert--default{
    font-size 12px
    background-color primary
    color white
  }
  .err-server{
    font-size 13px
    color #f4516c
    padding 10px 30px
    padding-top 0
  }
  .cp-input{
    .cp-loading{
      color white
      font-size 18px
    }

    button{
      width 100%
      color white
      position relative
      height 38px
      display flex
      justify-content center
      align-items center
      margin-top 10px
      font-size 13px
      transition background-color 0.2s ease
      &:not([disabled]):hover{
        background-color darken(#428bca, 15%)
      }
      background-color #428bca
    }
    label{
      font-size 13px
    }
    input{
      &:focus{
        border-color primary
      }
    }
  }
}