.sp-list-route{
  position relative
  .first-load{
    font-size 30px !important
    color primary !important
  }
  .m-portlet{
    padding-bottom 50px
  }

  .email-display{
    font-size 13px !important
    text-decoration underline
    color primary
    max-width 250px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }
  .school-display{
    max-width 250px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }

}