.user-info-form{
  padding-top 30px
  .emp-id-wrap{
    font-size 16px
    font-weight 550
    & > div{
      padding-left 20px
    }
    .emp-id{
      color #428bca
    }
  }

  .uif-input{
    padding 0 20px !important
    input
    select
    {
      font-size 14px !important
      margin-bottom 5px
    }
    label{
      font-size 15px
      color
    }
  }
}