.subject-route{
  .s-actions{
    button{
      font-size 13px
      margin-left 10px
      padding 10px 20px
      position relative
    }
  }
  .form-control{
    height auto !important
  }
  .loading-wrapper{
    min-height 500px
    position relative
    .loading-inline{
      i{
        font-size 50px
      }
    }
  }
}