.contest-exam-date{
  padding-top 30px
  .create-exam-date{
    margin-top 20px
    font-size 15px !important
  }
  .room-length{
    font-size 15px
  }
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }

}