.initial-room-info-form{
  padding-top 30px
  .create-room{
    font-size 15px !important
  }
  .locate-display{
    max-width 200px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }
  .actions{
    .rm-room{
      font-size 15px
      color danger
    }
  }
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }

}