.account-list-route{
  .create-account{
    font-size 15px
    font-weight 500
    padding 10px 20px
    background-color primary
    border-color primary
    &:hover{
      background-color darken(primary, 20%)
    }
    i{
      color white
      font-size 20px
      margin-right 10px
      font-weight 550 !important
    }
  }
}