.account-list-route{
  position relative
  .m-portlet{
    padding-bottom 50px
  }

  .login-status{
    font-size 13px !important
    padding 4px
    text-align center
    width 100px
  }
  .create-account{
    font-size 15px
    font-weight 500
    padding 10px 20px
    background-color primary
    border-color primary
    &:hover{
      background-color darken(primary, 20%)
    }
    i{
      color white
      font-size 20px
      margin-right 10px
      font-weight 550 !important
    }
  }
}