.candidate-info-form{
  padding-top 30px
  min-height 400px
  .loading-inline{
    i{
      font-size 50px
    }
  }
  .form-control{
    height auto !important
  }
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }
  .optional-nav{


    padding-top 20px
    p{
      color primary
      font-size 14px
      text-decoration underline
      display inline-block
      cursor pointer
      margin-left 20px
      &:hover{
        color darken(primary, 20%)
      }
    }
  }


  .candidate-input{
    padding 0 20px !important
    input
    select
    {
      font-size 14px !important
      margin-bottom 5px
    }
    label{
      font-size 15px
      color
    }
  }
}