.user-info-form{
  padding-top 30px
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }
  .optional-nav{


    padding-top 20px
    p{
      color primary
      font-size 14px
      text-decoration underline
      cursor pointer
      margin-left 20px
      &:hover{
        color darken(primary, 20%)
      }
    }
  }
  .emp-id-wrap{
    font-size 16px
    font-weight 550
    & > div{
      padding-left 20px
    }
    .emp-id{
      color #428bca
    }
  }

  .uif-input{
    padding 0 20px !important
    input
    select
    {
      font-size 14px !important
      margin-bottom 5px
    }
    label{
      font-size 15px
      color
    }
  }
}