.exam-date-candidate{
  padding-top 30px
  .create-candidate{
    font-size 15px !important
  }

  .actions{
    .rm-room{
      font-size 15px
      color danger
    }
  }
  .email-display{
    font-size 13px !important
    text-decoration underline
    color primary
    max-width 250px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }

}