.account-info-form{
  padding-top 30px
  .server-error{
    p{
      color #f4516c
      font-size 14px
      margin-left 20px
      margin-bottom 15px
    }
  }
  .optional-nav{


    padding-top 20px
    p{
      color primary
      font-size 14px
      display inline-block
      text-decoration underline
      cursor pointer
      margin-left 20px
      &:hover{
        color darken(primary, 20%)
      }
    }
  }

  .aif-input{
    padding 0 20px !important
    input
    select
    {
      max-width 250px
      font-size 14px !important
      margin-bottom 5px
    }
    label{
      font-size 15px
      color
    }
  }
}