.candidate-list-route{
  position relative
  .first-load{
    font-size 30px !important
    color primary !important
  }
  .m-portlet{
    padding-bottom 50px
  }

  .gender-display{
    font-size 13px !important
    width 100px
    i{
      font-size 20px !important
      margin-right 6px
    }
    .male{
      color primary

    }
    .female{
      color danger
    }
  }
  .email-display{
    font-size 13px !important
    text-decoration underline
    color primary
    max-width 250px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }
  .school-display{
    max-width 250px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }

}